{% extends "/layouts/main.html" %}
{% block content %}
    
    {% if error is not null %}
        <div class="alert alert-danger">
            <strong>Uh oh!</strong> {{error}}
        </div>
    {% endif %}

    {% if user_id is not null %}
        <h3>user id is {{user_id}} and email is {{email}}</h3>
    {% endif %}
    
    <h1>Login!</h1>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" maxlength="30" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" maxlength="30" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}