{% extends "/layouts/main.html" %}
{% block content %}

    {% if error is not null %}
        <div class="alert alert-danger">
            <strong>Uh oh!</strong> {{error}}
        </div>
    {% endif %}
    <h1>{{group}}</h1>

    {% if images is not null %}
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Image Type</th>
                <th>Thumbnail</th>
                <th>Delete</th>
            </tr>
            {% for image in images %}
                <tr>
                    <td>{{ image['title'] }}</td>
                    <td>{{ image['location'] }}</td>
                    <td>{{ image['group'] }}</td>
                    <td>
                        {% if image['file_location'] %}
                             <img style="max-width:120px;" src="{{ image['public_fp'] }}">
                        {% endif %}
                    </td>
                    <td><button data-id="{{image['id']}}" data-group="{{image['group']}}" type="button" class="deleteImage btn btn-danger btn-xs">Delete</button></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">No photos :(</div>
        <a href="#" data-id="{{group}}" class="btn btn-danger deleteGroup">Delete Group</a>
    {% endif %}


    <h2>Add that new hotness</h2>
    <form enctype="multipart/form-data" action="/image" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" class="form-control" placeholder="Location">
        </div>
        <input type="hidden" name="group" value="{{group}}">
        <div class="form-group">
            <label for="imageUpload">Image</label>
            <input type="file" id="image-file" name="image-file">
            <p class="help-block">Upload your image!</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}
