{% extends "/layouts/main.html" %}
{% block content %}

    {% if error is not null %}
        <div class="alert alert-danger">
            <strong>Uh oh!</strong> {{error}}
        </div>
    {% endif %}


    <table class="table table-striped">
        <tr>
            <th>Image ID</th>
            <th>title</th>
            <th>Image</th>
            <th>File Location</th>
            <th>Thumbnail</th>
            <th>Date</th>
            <th>Time</th>
            <th>Delete</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task['id'] }}</td>
                <td>{{ task['title'] }}</td>
                <td>{{ task['location'] }}</td>
                <td>{{ task['file_location'] }}</td>
                <td> <img style="max-width:120px;" src="/assets/img/uploaded_images/{{ task['file_name'] }}"></td>
                <td>{{ task['date'] }}</td>
                <td>{{ task['time'] }}</td>
                <td><button data-id="{{task['id']}}" type="button" class="deleteTask btn btn-danger btn-xs">Delete</button></td>
            </tr>
        {% endfor %}
    </table>

    <h2>Add that new hotness</h2>
    <form enctype="multipart/form-data" action="/todo" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" class="form-control" placeholder="Location">
        </div>
        <div class="form-group">
            <label for="imageUpload">Image</label>
            <input type="file" id="image-file" name="image-file">
            <p class="help-block">Upload your image!</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
