{% extends "/layouts/main.html" %}
{% block content %}

    {% if error is not null %}
        <div class="alert alert-danger">
            <strong>Uh oh!</strong> {{error}}
        </div>
    {% endif %}

    <h2>Pages</h2>

    {% if pages is not null %}
        <table class="table table-striped">
            <tr>
                <th>Page</th>
            </tr>
            {% for page in pages %}
                <tr>
                    <td><a href="/page/{{ page }}">{{ page }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">Sorry man, no pages yet.</div>
    {% endif %}

    <h3>Add a page</h3>
    <form action="/page" method="post">
        <div class="form-group">
            <label for="page">page</label>
            <input type="text" name="page" class="form-control" placeholder="page">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
