{% extends "main.html" %}
{% block content %}
    
    {% if error is not null %}
        <div class="alert alert-danger">
            <strong>Uh oh!</strong> {{error}}
        </div>
    {% endif %}


    <table class="table table-striped">
        <tr>
            <th>Task ID</th>
            <th>Task</th>
            <th>Date</th>
            <th>Time</th>
            <th>Delete</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td> {{ task['id'] }}</td>
                <td> {{ task['task'] }}</td>
                <td> {{ task['date'] }}</td>
                <td> {{ task['time'] }}</td>
                <td><button data-id="{{task['id']}}" type="button" class="deleteTask btn btn-danger btn-xs">Delete</button></td>
            </tr>
        {% endfor %}
    </table>

    <h2>Add a to-do!</h2>
    <form action="/" method="post">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" name="task" class="form-control" id="task" placeholder="Task">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}